@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movie Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Any())
{
    <table class="table	table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Movie Title</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name,"Edit","Movies", new { id = movie.Id}, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>There are currently no movies in our database.</p>
}

@Html.ActionLink("Add Movie","New","", new {@class="btn btn-primary"})