@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movie Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movies" class="table	table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Movie Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, movie) {
                            return "<button class='btn btn-danger btn-sm js-delete' data-movie-name=" + movie.name +" data-movie-id=" + movie.id + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm({
                        message: "Are you sure you want to delete the movie: <text style=\"color: red\">" +
                            $(this).attr("data-movie-name") +
                            "</text>",
                        backdrop: true,
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-success'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        }
                    });
                });
        })
    </script>
}
@Html.ActionLink("Add Movie", "New", "", new { @class = "btn btn-primary" })